<% include ../partials/head %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <!-- menu profile quick info -->
            <% include ../partials/head-sidebar %>
              <!-- /menu profile quick info -->
              <!-- sidebar menu -->
              <% include ../partials/sidebar %>
                <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partials/navigation %>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left">
                  <% if(!qs.wilayah){ %>
                    <h3><%= qs.nama %> <%= qs.jk %> <%= qs.plat %> <%= qs.kota %></h3>
                  <% }else { %>
                    <h3><%= qs.nama %> <%= qs.jk %> <%= qs.plat %> <%= qs.wilayah %></h3>
                  <% } %> 
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-12 col-sm-12 ">
                  <div class="x_panel">
                    <!-- <div class="x_title">
                    <h2>Form Design <small>different form elements</small></h2>
                    <div class="clearfix"></div>
                  </div> -->
                    <div class="x_content">
                      <br />
                        <form action="#" method="post" id="form-input" data-parsley-validate class="form-horizontal form-label-left">
                          <div class="col-md-6 col-sm-6">
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Klien <span
                                class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                              <select name="id_klien" id="pilihklien" class="form-control">
                                <option selected disabled>Pilih Klien</option>
                                <% for(let i=0; i < klien.length; i++){ %>
                                  <option value="<%= klien[i].id %>"><%= klien[i].nama %></option>
                                  <%}%>
                              </select>
                              <small>Klien Baru ? Klik <a href="#" data-toggle="modal"
                                  data-target=".bs-example-modal-lg">DISINI</a> </small>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Jenis Jasa <span
                                class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 ">
                              <input type="text" id="jenisjasa" name="jenis_jasa" required="required"
                                class="form-control" value="">
                            </div>
                          </div>
                          <div class="item form-group" hidden>
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Provinsi <span
                                class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" id="provId" name="provinsi" required="required"
                                class="form-control" value="<%= qs.provinsi %>">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label for="middle-name"
                              class="col-form-label col-md-3 col-sm-3 label-align">Tanggal</label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="tgl" class="form-control" type="text" name="tanggal"
                                value="<%= today %>" readonly>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">No Polisi <span
                                class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input name="nopol" id="nopolisi" class="form-control" required="required" type="text">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> Atas Nama</label> <span
                              class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input name="atas_nama" id="anId" class="date-picker form-control" required="required" type="text">
                            </div>
                          </div>
                          <div class="item form-group" id="sc">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"> Save Kontak</label> <span
                              class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6" id="savekontak">
                              <textarea name="save_kontak" id="" cols="30" rows="2" class="form-control"></textarea>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"></label> <span
                              class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            </div>
                          </div>
                        </div>

                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Catatan <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <textarea name="catatan" id="catatanId" cols="30" rows="3"
                              class="form-control"></textarea>
                          </div>
                        </div>
                        <div class="item form-group">
                          <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Biaya -
                            biaya</label>
                          <div class="col-md-6 col-sm-6 ">
                            <select name="id_biaya" id="biayaId" class="form-control">
                              <option value="6">Belum Ada Biaya</option>
                              <% for(let i=0; i < biaya.length; i++){ %>
                                <option value="<%= biaya[i].id %>"><%= biaya[i].kategori_biaya %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Nominal <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-ung_muka16 col-sm-6 ">
                            <input name="biaya" id="nominal" class="form-control" required="required" type="number" value="0">
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Bank <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <select name="id_bank" id="bankId" class="form-control">
                              <option value="5">Pilih Bank</option>
                              <% for(let i=0; i < bank.length; i++){ %>
                                <option value="<%= bank[i].id %>">
                                  <%= bank[i].bank %>
                                </option>
                                <%}%>
                            </select>
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Tgl Transfer <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input name="tgl_trf" id="tgltrf" class="date-picker form-control" required="required" type="date">
                          </div>
                        </div>
                        <div class="item form-group" hidden>
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Created User <span
                              class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                            <input name="created_user" id="cu" class="date-picker form-control" required="required" type="text"
                              value="<%= userData.username %>">
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">
                          </label>
                          <div class="col-md-6 col-sm-6 ">
                          </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                          <div class="col-md-6 col-sm-6 offset-md-5">
                            <button  type="submit" class="btn btn-success">Simpan</button>
                            <button class="btn btn-primary" type="button">Batal</button>
                          </div>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- TABLE -->
            <div class="col-md-12 col-sm-12" id="table-section">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Resume Cabut KIR</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-box table-responsive" id="table-section2">
                        <!-- <table id="datatable-buttons" class="table table-striped table-bordered data-table" style="width:100%">
                          <thead>
                            <tr>
                              <th>Nama Klien</th>
                              <th>Alamat</th>
                              <th>Jenis Jasa</th>
                              <th>No. Polisi</th>
                              <th>Atas Nama</th>
                              <th>Tanggal</th>
                              <th>Save Kontak</th>
                              <th>Catatan Penting</th>
                              <th>Ket.Biaya</th>
                              <th>Biaya</th>
                              <th>Bank</th>
                              <th>Tgl. Trf</th>
                            </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </table> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /TABLE -->
          </div>
      </div>
      <!-- /page content -->

      <!-- Modal -->

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Tambah Klien</h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/tambah_klien2" method="post" id="demo-form2" data-parsley-validate
                class="form-horizontal form-label-left">
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Nama <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="nama" class="form-control" required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Alamat <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <textarea name="alamat" id="" cols="30" rows="3" class="form-control"></textarea>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Provinsi <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="provinsi" class="form-control" required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Kota / Kab. <span
                      class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="kota" class="form-control" required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Email <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="email" class="form-control" required="required" type="email">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Tlp 1 <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="tlp1" class="form-control" required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Tlp 2 <span class="required">*</span>
                  </label>
                  <div class="col-md-ung_muka16 col-sm-6 ">
                    <input name="tlp2" class="form-control" required="required" type="text">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /modals -->

      <!-- footer content -->
      <% include ../partials/footer %>
        <!-- /footer content -->
    </div>
    </div>
    <% include ../partials/script %>
      <% include ../partials/datatable %>
        <!-- <script src="../vendors/jquery/dist/jquery.min.js"></script> -->

        <script>
          $(document).ready(function () {
                $("#nopolisi").on("change", function () {
                    let klien = $("#pilihklien option:selected").text()
                    let jasa = $("#jenisjasa").val()
                    let nopol = $("#nopolisi").val()
                    let html = ''
                    html += `<textarea name="save_kontak" id="simpankontak" cols="30" rows="2" class="form-control">${klien} ${jasa} ${nopol}</textarea>`
                    $("#savekontak").html(html)
                })

                save()
                fetchData()
          })
          
          function save() {
                $('#form-input').submit(function (e) {
                e.preventDefault();
                let id_klien = parseInt($("#pilihklien").val())
                let jenis_jasa = $("#jenisjasa").val()
                let provinsi = $("#provId").val()
                let tanggal = $("#tgl").val()
                let nopol = $("#nopolisi").val()
                let atas_nama = $("#anId").val()
                let save_kontak = $("#simpankontak").val()
                let catatan = $("#catatanId").val()
                let id_biaya = parseInt($("#biayaId").val())
                let biaya = parseInt($("#nominal").val())
                let id_bank = parseInt($("#bankId").val())
                let tgl_trf = $("#tgltrf").val()
                let created_user = $("#cu").val()
                

                // if (idedit !== "") {
                //     $.ajax({
                //         type: "PUT",
                //         url: '/edit/' + idedit,
                //         data:
                //         {
                //             nama: nama,
                //             alamat: alamat,
                //         }
                //     }).done(function (data) {
                //         idedit = "";
                //         fetchData()
                //         clear()
                //         $("#nama").focus()
                //     })
                // } else {
                    $.ajax({
                        type: "POST",
                        url: '/pt_jabar_r2_lengkap',
                        data: {
                             id_klien : id_klien,
                             jenis_jasa : jenis_jasa,
                             provinsi : provinsi,
                             tanggal : tanggal,
                             nopol : nopol,
                             atas_nama : atas_nama,
                             save_kontak : save_kontak,
                             catatan : catatan,
                             id_biaya : id_biaya,
                             biaya : biaya,
                             id_bank : id_bank,
                             tgl_trf : tgl_trf,
                             created_user : created_user
                        }
                    }).done((data) => {
                        idedit = "";
                        fetchData()
                        clear()
                    })
                // }
            })
            }

            function fetchData() {
                $.ajax({
                type: 'get',
                url:'/pajaktahunan',
                }).done(function(response) {
                let dataArr = response.data.pt;
                console.log("arr", dataArr);
                let html = '';
                
                    html += "<table id='datatable-buttons' class='table table-striped table-bordered data-table' style='width:1000'>"
                    html += "<thead>"
                    html += "<tr>"
                    html += "<th>Nama Klien</th>"
                    html += "<th>Alamat</th>"
                    html += "<th>Jenis Jasa</th>"
                    html += "<th>No. Polisi</th>"
                    html += "<th>Atas Nama</th>"
                    html += "<th>Tanggal</th>"
                    html += "<th>Save Kontak</th>"
                    html += "<th>Catatan Penting</th>"
                    html += "<th>Ket.Biaya</th>"
                    html += "<th>Nominal</th>"
                    html += "<th>Bank</th>"
                    html += "<th>Tgl Trf</th>"
                    html += "</tr>"
                    html += "</thead>"
                    html += "<tbody>"
                    for(let i=0; i<dataArr.length; i++) {
                    html += "<tr>"
                    html += "<td>" + dataArr[i].id_klien + "</td>"
                    html += "<td>" + dataArr[i].id_klien + "</td>"
                    html += "<td>" + dataArr[i].jenis_jasa + "</td>"
                    html += "<td>" + dataArr[i].nopol + "</td>"
                    html += "<td>" + dataArr[i].atas_nama + "</td>"
                    html += "<td>" + dataArr[i].tanggal + "</td>"
                    html += "<td>" + dataArr[i].save_kontak + "</td>"
                    html += "<td>" + dataArr[i].catatan + "</td>"
                    html += "<td>" + dataArr[i].id_biaya + "</td>"
                    html += "<td>" + dataArr[i].biaya + "</td>"
                    html += "<td>" + dataArr[i].id_bank + "</td>"
                    html += "<td>" + dataArr[i].tgl_trf + "</td>"
                    html += "</tr>"
                    }
                    html += "</tbody>"
                    html += "</table>"
                    $("#table-section2").html(html);

                    if ($("#datatable-buttons").length) {
                        $("#datatable-buttons").DataTable({
                            dom: "Blfrtip",
                           
                            buttons: [
                                {
                                    extend: "copy",
                                    className: "btn-sm"
                                },
                                {
                                    extend: "csv",
                                    className: "btn-sm"
                                },
                                {
                                    extend: "excel",
                                    className: "btn-sm"
                                },
                                {
                                    extend: "pdfHtml5",
                                    className: "btn-sm"
                                },
                                {
                                    extend: "print",
                                    className: "btn-sm"
                                },
                            ],
                            // responsive: true,
                            scrollX: true,
                            "aoColumnDefs": [
                                { "sWidth": "10%", "aTargets": [ -1 ] }
                            ]
                        });
                    }

               
                })
            }
            // function fetchData() {
            //     $.ajax({
            //     type: 'get',
            //     url:'/pajaktahunan',
            //     }).done(function(response) {
            //     let dataArr = response.data.pt;
            //     console.log("arr", dataArr);
            //     let html = '';
            //     for(let i=0; i<dataArr.length; i++) {
            //       html += `

            //       <tr>
            //         <td>${dataArr[i].id_klien}</td>
            //         <td>${dataArr[i].id_klien}</td>
            //         <td>${dataArr[i].jenis_jasa}</td>
            //         <td>${dataArr[i].nopol}</td>
            //         <td>${dataArr[i].atas_nama}</td>
            //         <td>${dataArr[i].tanggal}</td>
            //         <td>${dataArr[i].save_kontak}</td>
            //         <td>${dataArr[i].catatan}</td>
            //         <td>${dataArr[i].id_biaya}</td>
            //         <td>${dataArr[i].biaya}</td>
            //         <td>${dataArr[i].id_bank}</td>
            //         <td>${dataArr[i].tgl_trf}</td>
            //         </tr>`

            //         $(".data-table tbody").html(html);
            //       }
                    
           
               
            //     })
            // }
           
            function clear() {
                $("#provId").val('')
                $("#nopolisi").val('')
                $("#anId").val('')
                $("#simpankontak").val('')
                $("#catatanId").val('')
                $("#nominal").val('')
                $("#tgltrf").val('')
             }
                   
        </script>
  </body>

  </html>